/*zero code*/
* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,
 *::before,
 *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus:active {
	outline: none;
 }
 a:focus,
 a:active {
	outline: none;
 }
 nav,
 footer,
 header,
 aside {
	display: block;
 }
 html,
 body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 input,
 button,
 textarea {
	font-family: inherit;
 }
 input::-ms-clear {
	display: none;
 }
 button {
	cursor: pointer;
 }
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 a,
 a:visited {
	text-decoration: none;
 }
 a:hover {
	text-decoration: none;
 }
 ul li {
	list-style: none;
 }
 img {
	vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-size: inherit;
	font-weight: 400;
 }
 
 /*start of scc*/
 
 :root {
	--text-color1: #ffb400;
	--text-color2: #2b2b2b;
	--backgraundcolor: #e1e1e1;
 }
 
 body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color2);
	background: var(--backgraundcolor);
	z-index: -3;
	min-width: 300px;
	 }
.fitst-screen{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
 
 .fitst-screen__container {
   width: 970px;
	padding: 41px 60px 0 60px;
	display: flex;
	background: white;
	z-index: -2;
 }
 .fitst-screen__container-text-title {
	margin-bottom: 24px;
 }
 
 h1 {
	font-family: "Inter";
	font-weight: 700;
	font-size: 48px;
	line-height: 54px;
	margin: 0;
 }
 h2 {
	font-family: "Inter";
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin: 0;
	text-align: center;
	margin: 41px 0;
 }
 h3 {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0 15px 0 15px;
 }
 h4 {
	font-family: "Inter";
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	text-align: center;
 }
 .fitst-screen__container-text-description {
	margin-bottom: 40px;
 }
 
 span {
	color: var(--text-color1);
	margin: 0;
 }
 .fitst-screen__container-bottom {
	margin: 0 0 41px 0;
 }
 .fitst-screen__container-bottom a {
	display: inline-block;
	text-align: center;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	color: var(--text-color2);
	background: var(--text-color1);
	width: 180px;
	padding: 0 32px;
	font-size: 16px;
	border-radius: 3px;
	transition: all 300ms ease;
	margin: 0 10px 0 0;
 }
 .fitst-screen__container-bottom a:hover {
	color: white;
	background: var(--text-color2);
	text-decoration: none;
	cursor: pointer;
 }
 #fitst-screen__container-photo {
	position: relative;
 }
 img {
	bottom: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	scale: 150%;
 }
 @media (max-width: 790px) {
	#fitst-screen__container-photo {
	  display: none;
	}
	#fitst-screen__container-text {
	  width: 100%;
	}
	.fitst-screen__container-text-title,
	.fitst-screen__container-text-description,
	.fitst-screen__container-bottom {
	  text-align: center;
	}
	.fitst-screen__container-bottom a {
	  margin: 0 10px 10px 0;
	}
 }
 .skills-screen {
	max-width: 990px;
	min-width: 380px;
	margin: 0 auto;
 }
 .card-group {
	display: flex;
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
 }
 .card-img {
	background-color: var(--text-color1);
	color: var(--text-color2);
	padding: 20px;
 }
 .card-body {
	padding: 20px;
	background: white;
 }
 .card {
	flex: 230px;
	margin: 5px;
	align-items: center;
	justify-content: center;
 }


 /*portfolio screen*/
 .portfolio-screen__title h2{
	margin-bottom: 20px;
 }
 .portfolio-screen__description h3{
	text-align: center;
	max-width: 438px;
	margin: 0 auto;
	
 }
 .portfolio-screen__description {
	margin-bottom: 31px;
 }
 .portfolio-screen{
	margin: 0 auto;
	}
	.wrapper-portfolio{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
	}

.container-case{
	background-image: url('/img/weatherApp.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	width: 310px;
	height: 310px;
	position: relative;
	margin: 10px;
}
span{
	color:var(--text-color2);
	font-family: "Inter";
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	padding: 0 15px 0 15px;
}
.hover {
	opacity: 0;
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:var(--text-color1);
	transition: all 0.4s ease;
	text-decoration: none;
 }
 .container-case:hover .hover {
	opacity: 1;
 }

 /*contact me screen*/
.contact-me{
	display: flex;
	justify-content: center;
	flex-flow:column wrap;
	padding: 0;
	margin: 0 auto;
}

.contact-me__description h3{
	display: block;
	text-align: center;
	max-width: 438px;
	margin: 0 auto;
	padding:0 15px 0 15px;
}
.contact-me__description{
	margin-bottom: 31px;
}
a span{
	text-decoration: none;
	color: var(--text-color2);
	font-size: 24px;
	display: block;
text-align: center;
margin-bottom: 31px;

}
a span:hover{
	color: var(--text-color1);
}
.contact-me__title h2{
	margin-bottom: 31px;
}
.icon-conteiner{
	display: block;
	text-align: center;
	font-size: 36px;
}
a i{
	color: black;
	margin: 5px;
}
a i:hover{
	color: var(--text-color1);
}